/* 定义基础颜色 */
$default-color: #c0c4cc !default;
$primary-color: #409eff !default;
$default-color: #c0c4cc !default;
$info-color: #5bc0de !default;
$success-color: #5cb85c !default;
$danger-color: #d9534f !default;
$warning-color: #f0ad4e !default;
$page-background-color: #fff !default;

$text-dark-color: #333 !default;
$text-main-color: #04895f !default;
$color-white: #fff !default;

/* 定义全局背景颜色 */
$page-bg-color: #f7f7f7 !default;

/* 定义宽度 */
$base-tow-width: 2px !default;
$base-five-width: 5px !default;
$base-ten-width: 10px !default;

/* 定义高度 */
$base-tow-height: 2px !default;
$base-five-height: 5px !default;
$base-ten-height: 10px !default;

$border-bottom-color: #ccc !default;
