
.ops{
    display: flex;
    flex-direction: row;
    height: 34px;
}

.opsTitle{
    flex: 1 1 auto;
    font: 14/1.25;
    line-height: 30px;
    padding-left: 15px;
}

.opsButton{
    flex: 0 0 auto;
}