/*全局颜色设置*/
$primary-color: #409eff !default;
$default-color: #c0c4cc !default;
$info-color: #5bc0de !default;
$success-color: #5cb85c !default;
$dangger-color: #d9534f !default;
$warning-color: #f0ad4e !default;
$page-background-color: #fff !default;
