body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
li {
  list-style: none;
}
:focus {
  outline: 0;
}
input,
button,
textarea,
select {
  font-size: 100%;
}
button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  border: none;
  padding: 0;
}

/* ---- */

* {
  box-sizing: border-box;
}

:root {
  --rnacos-scrollbar-color: rgba(0, 0, 0, 0.1);
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #ffffff;
  font:
    14px/1.5 Arial,
    Helvetica,
    sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.2s ease;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
@import "tailwindcss";