name: Release

on:
  push:
    tags: [ 'v*' ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        npm install
        npm run build
    - name: cargo login
      run: cargo login ${{ secrets.CRATES_IO_TOKEN }}
    - name: cargo publish
      run: |
        cp -rf dist dist-wrap/src
        cd dist
        zip ../dist.zip -r ./
        cd -
        rm -rf .git
        ls -al dist-wrap/src/dist/
        cd dist-wrap
        cargo publish
        cd -
    - name: Upload binary artifacts
      uses: actions/upload-artifact@v4
      with:
        name: binaries
        path: |
          *.zip
    

  release-github:
    permissions:
      # Used to sign the release's artifacts with sigstore-python.
      id-token: write
      # Used to upload release artifacts.
      contents: write
    name: Publish to GitHub releases
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [ build ]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: binaries
      #- name: Sigstore Sign
      #  uses: sigstore/gh-action-sigstore-python@v1.2.3
      #  with:
      #    inputs: ./*.zip 
      #    upload-signing-artifacts: true
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *.zip
            *.sig
            *.crt
          prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
          generate_release_notes: true  


